backend/node_modules
backend/frontend/node_modules
backend/.env
.DS_Store

# dependencies

backend/frontend/.pnp
backend/frontend/.pnp.js

# testing
backend/frontend/coverage

# production
frontend/build

# misc
backend/frontend/.DS_Store
backend/frontend/.env.local
backend/frontend/.env.development.local
backend/frontend/.env.test.local
backend/frontend/.env.production.local

backend/frontend/npm-debug.log*
backend/frontend/yarn-debug.log*
backend/frontend/yarn-error.log*
backend/.DS_Store